.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 500px;
  border: 1px solid black;
  padding: 10px;
  height: 200px;
  margin-top: 100px;
  margin-left: 400px;
}
label {
  padding: 10px;
}
select {
  width: 90px;
  height: 25px;
}
